.kutular-girişyap
{
    text-align: center;
}
.kutular-kayitol
{
    text-align: center;
}

.D1-turkuaz
{
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: #40e0d0; /*Turkuaz*/
    color: #072c28;
    border: 3px solid #40e0d0;
    border-radius: 10px;
    padding: 0.2em 0.6em;
    cursor: pointer;
    display: block;
}
.D1-turkuaz:hover
{
    background-color: #bdf4ef;
    border-color: #bdf4ef;
    color: #158479;
}

.butonlar-profil
{
    width: 100%;
    text-align: center;
}

.D2-beyaz
{
    text-align: center;
    font-size: small;
    font-weight: bold;
    background-color: azure;
    color: #158479;
    border: 3px solid azure;
    border-radius: 9px;
    padding: 0.2em 0.6em;
    cursor: pointer;
    display: block;
}

#kullanıcı-çekmecesi input
{
    margin: 0% auto 4%;
}

.butonlar-profil
{
    width: 100%;
    text-align: center;
}

.arama-çubuğu
{
    height: 25%;
    width: 95%;
    margin: 3% 0;
    border-radius: 20px;
    padding: 1%;
    border: none;
    outline: none;
    box-shadow: 0 0 10px 1px #777777;
}
.arama-çubuğu:focus
{
    box-shadow: 0 0 10px 3px #158479;
}