.form-ortalı
{
    text-align: center;
}
.içi-bloklu > *
{
    display: block;
}

.D1-turkuaz
{
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: #40e0d0; /*Turkuaz*/
    color: #072c28;
    border: 3px solid #40e0d0;
    border-radius: 10px;
    padding: 0.2em 0.6em;
    cursor: pointer;
    display: block;
}
.D1-turkuaz:hover
{
    background-color: #bdf4ef;
    border-color: #bdf4ef;
    color: #158479;
}
.D1-turkuaz:disabled
{
    background-color: #30a89c;
    border-color: #30a89c;
    color: #072c28;
}

.D1-kızıl
{
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: hsl(0, 80%, 45%);
    color: hsl(0, 100%, 100%);
    border: 3px solid hsl(0, 80%, 45%);
    border-radius: 10px;
    padding: 0.2em 0.6em;
    cursor: pointer;
    display: block;
}
.D1-kızıl:hover
{
    background-color: hsl(0, 100%, 85%);
    border-color: hsl(0, 100%, 85%);
    color: hsl(0, 100%, 35%);
}

.D1-sarımsı
{
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: hsl(43, 98%, 63%);
    color: hsl(42, 70%, 14%);
    border: 3px solid hsl(43, 98%, 63%);
    border-radius: 10px;
    padding: 0.2em 0.6em;
    cursor: pointer;
    display: block;
}
.D1-sarımsı:hover
{
    background-color: hsl(43, 98%, 83%);
    border-color: hsl(43, 98%, 83%);
    color: hsl(43, 98%, 30%);
}

.butonlar-profil
{
    width: 98%;
    height: 20%;
    text-align: center;
    margin: 2% 1%;
}

.D2-beyaz
{
    text-align: center;
    font-size: small;
    font-weight: bold;
    background-color: azure;
    color: #158479;
    border: 3px solid azure;
    border-radius: 9px;
    padding: 0.2em 0.6em;
    cursor: pointer;
    display: block;
}

.çekmece-içi input[type="text"], .çekmece-içi input[type="password"], .çekmece-içi input[type="number"], 
.çekmece-içi select, .çekmece-içi textarea
{
    font-size: medium;
    font-weight: bold;
    outline: none;
    color: #158479;
    background-color: azure;
    border: 3px solid azure;
    border-radius: 9px;
    padding: 0.2em 0.6em;

    border-bottom-color: #158479aa;
}

#kullanıcı-çekmecesi input, #kullanıcı-çekmecesi select, #kullanıcı-çekmecesi textarea
{
    margin: 0% auto 4%;
}

#kullanıcı-çekmecesi .çekmece-içi .çekmece-içorta
{
    width: 100%;
    height: 90%;
    position: relative;
    overflow-y: auto;
    z-index: 20;
}

#nokta-çekmecesi input, #nokta-çekmecesi select, #nokta-çekmecesi textarea
{
    margin: 0% auto 4%;
}

#NoktaDuzenle-Temel-Bilgiler, #NoktaEkle-Temel-Bilgiler
{
    height: 10vh;
    width: 15vw;
    resize: none;
}
.giriş-düğmesi
{
    display: block;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    margin: 1.5vh auto;
    box-shadow: 0 0 10px 1px #777777;
}

.arama-çubuğu
{
    height: 25%;
    width: 75%;
    margin: 3% 0 0;
    border-radius: 20px 0px 0px 20px;
    padding: 1%;
    border: none;
    outline: none;
    box-shadow: 0 0 10px 1px #777777;

    font-family: sans-serif;
    font-size: medium;
}
.arama-çubuğu:focus
{
    box-shadow: 0 0 8px 2px #158479; /* orijinali: 0 0 10px 3px */
}

.başlık-düğmesi
{
    display: block;
    height: 6vh;
    border-radius: 10px;
    margin: 2vh auto;
    box-shadow: 0 0 10px 1px #777777;
}

#Arama-Çubuğu-Dil
{
    height: 43.6%;
    width: 20%;
    margin: 3% 0 0;
    border-radius: 0px 20px 20px 0px;
    padding: 1%;
    border: none;
    outline: none;
    box-shadow: 0 0 10px 1px #777777;
    background-color: white;

    font-family: sans-serif;
    font-size: medium;
    cursor: pointer;
}

#ara-çekmece
{
    overflow-y: scroll;
    max-height: 700%;
    display: none;
    width: 97%;

    margin: 1% 1.5%;
    padding: 1.2% 0;
    border: none;
    
    background-color: white;
    
    border-radius: 10px;
    box-shadow: 0 0 5px 3px #3333335c;

    text-align: left;
    font-family: sans-serif;
    font-size: medium;
}

.ara-çekmece-satır
{
    background-color: transparent;
    padding: 0.5% 2%;
}

.ara-çekmece-satır:hover
{
    background-color: rgb(231, 231, 231);
    color: #158479;
}

.KullanıcıAraÇekmece
{
    display: none;
    text-align: left;
    font-size: medium;
    font-weight: bold;
    outline: none;
    color: #158479;
    background-color: azure;
    border: 3px solid azure;
    border-radius: 9px;
    padding: 0.2em 0;
    margin: 0 21% 2%;
}

.KullanıcıAraÇekmece-satır
{
    background-color: transparent;
    padding: 1% 4%;
}

.KullanıcıAraÇekmece-satır:hover
{
    background-color: rgb(227, 240, 240);
    color: #12766c;
}

#RolAta-Kullanıcı, #RolAl-Kullanıcı, #KullanıcıSil-Kullanıcı
{
    margin-bottom: 1% !important;
}

.popup-metin
{
    width: 50vw;
    height: 50vh;
    padding: 1%;

    resize: none;
    outline: none;
    font-size: x-large;
    font-weight: bold;
    color: #158479;

    background-color: #e9fbfacc;
    border: 4px solid transparent;
    border-radius: 15px;
    box-shadow: 0 0 1vh 1vh #33333342;
}

#popup-vazgeç-buton
{
    position: absolute;
    bottom: 0;
    left: 30vh;
}

#popup-gönder-buton
{
    position: absolute;
    bottom: 0;
    left: 60vh;
}

#çekmeceKapatmaDüğme
{
    position: relative;
    float: right;
}

@media (orientation:landscape)
{
    #çekmeceKapatmaDüğme
    {
        display: none;
    }
}

@media (orientation:portrait)
{
    #çekmeceKapatmaDüğme
    {
        display: block;
    }
}