body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

.sayfa-başlığı
{
    height: 10vh;
    width: 100vw;
    margin: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    
    /*background-color: #ffff0055;*/
}
.başlık-giriş
{
    display: block;
    width: 17%;
    height: 100%;
    float: right;
    text-align: center;
}
.başlık-arama
{
    display: block;
    width: 46%;
    margin: 0 10% 0 10%;
    height: 100%;
    float: right;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 50;
}
.başlık-künye
{
    display: block;
    width: 17%;
    height: 100%;
    float: right;
    text-align: center;
}

.sayfa-gövdesi
{
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: teal;
    z-index: -1;
}
.gövde
{
    height: 80vh;
    width: 100vw;
    margin: none;
    padding: 0;
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 40;
    overflow: auto;
}

.kullanıcı-çekmece
{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: auto;
    left: 100%;
    z-index: 51;
    /*border-radius: 2px;*/
    /*background-color: rgb(146, 10, 225);*/
    transition: 750ms;
    transform-origin: 100% 0 0;
    transform: none;
}

.nokta-çekmece
{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: auto;
    right: 100%;
    z-index: 51;
    transition: 750ms;
    transform-origin: 0 100% 0;
    transform: none;
}

#kullanıcı-çekmece-ayarlar
{
    display: none;
}

.kişisel-çekmece-sayfası
{
    display: none;
}

.çekmece-içi
{
    height: 95vh;
    width: 90%;
    position: absolute;
    top: calc(2.5vh - 2px);
    left: calc(5% - 2px);
    background-color: #e9fbfacc;
    border: 4px solid transparent;
    border-radius: 15px;
    box-shadow: 0 0 1vh 1vh #33333342;
}
.çekmece-içorta
{
    width: 100%;
    height: 82%;
    position: relative;
    overflow-y: auto;
}
.çekmece-içalt
{
    width: 100%;
    height:24%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.düzenle
{
    height: 18%;
}

#noktayı-duzenle-penceresi
{
    display: none;
}

#nokta-penceresi
{
    display: block;
}

.kapatıcı
{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: none;
    z-index: 45;
    display: none;
    cursor: crosshair;
}

.form-popup
{
    display: none;
    position: fixed;
    z-index: 70;
    height: 50vh;
    width: 50vw;
    top: 10vw;
    left: 50vh;
}

@media (orientation:landscape)
{
    .kullanıcı-çekmece
    {
        width: 25vw;
    }

    .nokta-çekmece
    {
        width: 25vw;
    }
}

#kayıt-ol
{
    display: none;
}