.Yazı1
{
    text-align: center;
    color: black;
    font-size: medium;
}

.yazılar-girişyap
{
    text-align: left;
}

.nokta-başlıklar
{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;

    background-color: transparent;

    margin: 8vh 0 8vh;
}

.nokta-büyükBaşlık
{
    font-size: xx-large;
    color: black;
}

.nokta-altBaşlık
{
    font-size: x-large;
    color: rgb(81, 80, 80);
}

.nokta-bilgiler
{
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(50, 50, 50);

    background-color: transparent;

    margin: 8vh 0 8vh;
}

.nokta-diller
{
    margin: 2vh 0 2vh;
}

.nokta-koordinat
{
    margin: 2vh 0 2vh;
}

.nokta-temel-bilgiler
{
    text-align: justify;
    max-height: 24vh;
    overflow-y: auto;
    margin: 2vh 2vh 2vh;
}


.nokta-link
{
    width: 91%;
    text-align: center;
    margin: 2% 1%;
    text-decoration: none;
}

.nokta-link:hover 
{
    background-color: #bdf4ef;
    border-color: #bdf4ef;
    color: #158479;
}

#favori-resmi 
{
    color: #3a3a3a; 
    font-weight: normal;

    transform: scale(2); 
    line-height: 1; 

    left: 18%;
    position: absolute;
}

#favori-yazisi 
{
    font-size: inherit;
    vertical-align: middle;
}